AIRFLOW_UID=50000

AIRFLOW_DB=
AIRFLOW_USER=
AIRFLOW_PASSWORD=

#ANALYTICS_DB=
#ANALYTICS_USER=
#ANALYTICS_PASSWORD=

AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=

# Supabase Connection
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DB=
SUPABASE_USER=
SUPABASE_PASSWORD=

AIRFLOW__CORE__FERNET_KEY=